body {
  background-color: #333;
}

#date {
  font-family: Futura;
  font-size: 72px;
  font-weight: light;
  position: relative;
  top: 90%;
  width: 400px;
  margin: 0 auto;
}

#content {
  border: 1px solid #333;
  position: absolute;
  bottom: 280px;
}

div.repo {
  float: left;
  width: 90px;
  margin-right: 20px;
  height: 200px;
  -webkit-transform: scale(-1);
}

div.brace {
  position: absolute;
  top: -60px;
  right: 60px;
  height: 90px;
  width: 20px;
  -webkit-transform: rotate(-90deg);
  font-size: 95px;
  font-family: "Verdana";
}

div.commit {
  height: 2px;
  width: 2px;
  border: 1px solid rgba(0, 0, 0, .1);
  float: left;
  opacity:  0;
  -webkit-transition-property: top, left, opacity;
  -webkit-transition-duration: 8s;
  -webkit-transition-timing-function: cubic-bezier(0.880, 0.390, 0.520, 0.850);
}

#desc {
  height: 200px;
  width: 573px;
  font-family: Futura;
  font-size: 2em;
  position: absolute;
  top: 30%;
  left: 20%
}

.nicoquickleft, .nicovalencia, .nico {background-color: #5D7359;}
.alexmcpherson {background-color: #E0D697;}
.tbeseda, .taylorbeseda {background-color: #D6AA5C;}
.garettshulman {background-color: #8C5430;}
.ryancook, .cookrn {background-color: #661C0E;}
.gerreddillon {background-color: #89682D;}
.rylanbowers {background-color: #205189;}
.beccagallery {background-color: #5C94D6;}
.brentertz {background-color: #C0CA55;}
.sambreed {background-color: #6C9380;}
.bobbonifield {background-color: #56626B;}
.ericreid {background-color: #F07C6C;}
.jessicard {background-color: #AD5472;}
.collinschaafsma {background-color: #42826C;}
.johnwright {background-color: #002F32;}
.grantblakeman {background-color: #002F32;}
.davidaragon {background-color: #FFC861;}

.light {opacity: .1;}
.medium {opacity: .5;}
.dark {opacity: 1;}