body {
  background-color: #333;
}

#content {
  border: 1px solid #333;
  position: absolute;
  bottom: 280px;
}

div.repo {
  float: left;
  width: 90px;
  margin-right: 20px;
  height: 200px;
  -webkit-transform: scale(-1);
}

div.brace {
  position: absolute;
  top: -60px;
  right: 60px;
  height: 90px;
  width: 20px;
  -webkit-transform: rotate(-90deg);
  font-size: 95px;
  font-family: "Verdana";
}

div.commit {
  height: 2px;
  width: 2px;
  border: 1px solid rgba(0, 0, 0, .1);
  float: left;
  opacity:  0;
  -webkit-transition-property: top, left, opacity;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.880, 0.390, 0.520, 0.850);
}

.grey {background-color: #888;}
.tan {background-color: DarkKhaki;}
.red {background-color: DarkRed;}
.green {background-color: DarkGreen;}
.orange {background-color: Chocolate;}
.blue {background-color: CornflowerBlue;}
.yellow {background-color: GoldenRod;}
.pink {background-color: HotPink;}
.purple {background-color: MediumPurple;}
.otherOrange {background-color: Orange;}
.navy {background-color: Navy;}
.magenta {background-color: Magenta;}
.olive {background-color: OliveDrab;}
.spring {background-color: SpringGreen;}

.lightest {opacity: .1;}
.light {opacity: .3;}
.medium {opacity: .5;}
.dark {opacity: .8;}
.darkest {opacity: 1;}